.addProfileIcon {
  position: absolute;
  right: -3px;
  bottom: -5px;
  transition: opacity 0.3s ease-out;
  opacity: 1;
}

.addProfileIcon:hover {
  opacity: 0.7;
  transition: opacity 0.3s ease-out;
}

.hiddenInput {
  cursor: pointer;
  clip-path: ellipse(18% 94% at 11% 48%);
  opacity: 0;
  height: 2px;
  overflow: hidden;
  position: absolute;
  bottom: 10px;
  left: 70px;
  white-space: nowrap;
  width: 2px;
}


